<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

<%- include('./partials/nav.ejs') %>

<div id="banner">
    <div id="content">
        <h1>TOTORO THE CODER</h1>
        <h3>I am Full-Stack Developer</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing
            Et, recusandae in qui vel, voluptates,voluptatesa
            atque iste eos adipisci sint provident quis idasd
            unde beatae quibusdam odit? Eligendi, ipsa asdasw
        </p>
    </div>
</div>

    
<%- include('./partials/footer.ejs') %>
    
</body>
</html>